<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:fragment="layout(head, main)"
style="min-width: 1024px;">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>rillstate</title>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" href="/images/icon/myicon.ico">
    <!-- 공통적용할 css -->
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <!-- summernote css/js -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=02cff8e32b884f2b68923f27459dc62e&libraries=services,clusterer,drawing"></script>
    <th:block th:replace="${head}">page에서 설정한 head정보가 삽입되요</th:block>
    
</head>
<body>
    <header>
    	<h1>헤더</h1>
    	<div>
    		<div id="user-menu">
    			<h1>유저메뉴</h1>
    			<div class="wrap">
    				<ul class="flex">
    					<li sec:authorize="isAnonymous()">
    						<a href="/loginPage">로그인</a>
    						<a href="/sign/signup">회원가입</a>
    					</li>
    					<li sec:authorize="isAuthenticated()">
    						<!-- <span sec:authentication="name">username</span> -->
    						<span sec:authentication="principal.name"></span>
    						<button id="btn-logout">로그아웃</button>
    					</li>
    					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/home">관리자페이지</a></li>
    				</ul>
    			</div>
    		</div>
    		<div id="top-menu">
   				<div id="logo">
   					<a href="/" ><img alt="릴스테이트" src="/images/logo_em.png"></a>
   				</div>
   				<ul class="flex" id="left_menu">
   					<li><a href="/board/club">CLUB</a></li>
   					<li><a href="/board/match">MATCH</a></li>
   					<li><a href="/board/tichet">TICHET</a></li>
   				</ul>
   				<ul class="flex" id="right_menu">
   					<li><a href="/board/team">TEAM</a></li>
   					<li><a href="/board/media">MEDIA</a></li>
   					<li><a href="/tohills">TO.HILLS</a></li>
   				</ul>
    		</div>
    		
    		<script type="text/javascript">
    			$(function () {
    				$("#btn-logout").click(function(){
    					var token = $("meta[name='_csrf']").attr("content");
    	    			var header = $("meta[name='_csrf_header']").attr("content");
    	    			
    	    			$.ajax({
    	    				beforeSend: function(xhr){xhr.setRequestHeader(header, token);},
    	    				url:"/logout",
    	    				type:"post",
    	    				success:function(){
    	    					location.href="/";
    	    				}
    	    			});
    				});
	    			
    			});
    		</script>
    	</div>
    </header>
    <main th:replace="${main}">
    	메인섹션이 삽입되는 영역입니다.
    </main>
    <footer>
    	<h1>하단영역</h1>
    	<div class="wrap">
    		<section id="sns">
    			<h1>sns</h1>
    			<div class="wrap">
    				<ul class="flex center">
    					<li><a href="#" class="kakao"></a></li>
    					<li><a href="https://post.naver.com/my.naver?memberNo=38749672" class="blog"></a></li>
    					<li><a href="https://www.youtube.com/channel/UC66i8pv50mFxMVvpKV6QTSA" class="youtube"></a></li>
    					<li><a href="#" class="facebook"></a></li>
    				</ul>
    			</div>
    		</section>
    		<section>
    			<h1>footer-links</h1>
    			<div class="wrap">
    			</div>
    		</section>
    		<section>
    			<h1>footer-copyright</h1>
    			<div class="wrap">
    			</div>
    		</section>
    	</div>
    </footer>
</body>
</html>