<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
th:fragment="layout(head,main)" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>백화::송이향버섯</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="icon" href="/images/icon/myicon.ico">
    <!-- 공통적용할 css -->
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <!-- summernote css/js -->
    <th:block th:replace="${head}">page에서 설정한 head정보가 삽입되요</th:block>
    
</head>
<body>
    <main th:replace="${main}">
    	메인섹션이 삽입되는 영역입니다.
    </main>
</body>
</html>