<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
    <style type="text/css">
    	.grid-container {
		  display: grid;
		  grid-template-columns: auto auto auto auto;
		  gap: 10px;
		}
		.img{
			font-size: 0;
		}
		.info{
			padding: 25px;
			font-size: 12px;
			background-color: rgba(0,0,0,0.05);
			border: 1px solid rgba(0,0,0,0.1);
		}
		.name{
			font-size: 14px;
			padding-bottom: 16px;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			height: 100px;
		}
		#page-title>.wrap{
		padding: 20px 0;
		}
    </style>
</head>
<main>
	<h1>메인컨텐츠</h1>
	<div class="wrap">
		<section id="content">
			<h1>메인컨텐츠</h1>
			<div class="wrap view-size">
				<section id="page-title">
					<h1>pageTitle</h1>
					<div class="wrap">
						<span>카테고리 : </span>
						<a th:unless="${cateInfo}" th:href="|/common/category-a/${catea.code}/goods|" >
							<span>[[${catea.koName}]]</span>
						</a>
						<th:block th:if="${cateInfo}">
						<a th:href="|/common/category-a/${cateInfo.catea.code}/goods|">
							<span>[[${cateInfo.catea.koName}]]</span>
						</a>
						<span>&nbsp;&gt;&nbsp;</span>
						<a th:href="|/common/categorys/${cateInfo.caNo}/goods|">
							<span>[[${cateInfo.name}]]</span>
						</a>
						</th:block>
					</div>
				</section>
				<section id="goods-list">
					<h1>상품리스트</h1>
					<div class="wrap">
						<ul class="grid-container">
							<li th:each="dto : ${list}" class="goods item">
								<div class="goods img" >
									<img width="100%" th:src="${dto.defImgUrl}">
								</div>
								<div class="goods info">
									<p class="name">[[${dto.name}]]</p>
									<p>
										<span >[[${dto.price}]]</span>
										<span >[[${dto.sale}]]</span>
										<span >[[${dto.price - dto.sale}]]</span>
									</p>
								</div>
							</li>
						</ul>
					</div>
				</section>
				
			</div>
		</section>
	</div>
</main>
</html>