<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
    <link rel="stylesheet" href="/css/cus/faq/index.css">
    <script type="text/javascript" src="/js/visual.js"></script>
    <script type="text/javascript">
    	$(function(){
    		getFaq();
    		$(".faq-menu>li").click(getFaq);
    	});
    	
    	function getFaq(){
    		
    		var divno=$(this).index() < 0 ? 0 :  $(this).index();
    		var url="/customer/"+ divno;
			$.get(url,function(result){
						$("#data").html(result);
					}//success
			);
		}
    	
    	
    </script>
</head>
<main>
	<h1>메인컨텐츠</h1>
	<div class="wrap">
		
		<section id="content">
			<h1>메인컨텐츠</h1>
			
			<div class="wrap view-size">
				<p class="ptit">고객센터 페이지 입니다.index</p>
				<ul class="faq-menu flex between">
					<li>사이트이용</li>
					<li>point</li>
					<li>회원</li>
					<li>멤버쉽</li>
					<li>온라인</li>
					<li>할인혜택</li>
					<li>관람권</li>
					<li>스토어</li>
					<li>스페셜관</li>
				</ul>
				<div id="data">
				faq의 ajax을 결과를 삽입하는 영역
				</div>
			</div>
		</section>
	</div>
</main>
</html>