<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
	 <link rel="stylesheet" href="/css/board/list.css">
	<script type="text/javascript" src="/js/visual.js"></script>
    <script type="text/javascript">
    	$(function(){
    		getFaq();
    		$(".faq-menu>li").click(getFaq);
    	});
    	
    	function getFaq(){
    		
    		var divno=$(this).index() < 0 ? 0 :  $(this).index();
    		var url="/club/"+ divno;
			$.get(url,function(result){
						$("#data").html(result);
					}//success
			);
		}
    	
    	
    </script>
<title>club</title>
</head>
<main>
	<h1>메인컨텐츠</h1>
	<div class="wrap">
		
		<section id="content">
			<h1>메인컨텐츠</h1>
			
			<div class="wrap view-size">
				<p class="ptit">선수소개</p>
				<ul class="faq-menu flex between">
					<li><a href="#">LEFT</a></li>
					<li><a href="#">RIGHT</a></li>
					<li><a href="#">CENTER</a></li>
					<li><a href="#">SETTER</a></li>
					<li><a href="#">LIBERO</a></li>
				</ul>
				<div id="data">
				의 ajax을 결과를 삽입하는 영역
				</div>
				<div id="team_sub1_section2">
				<ul>
			    	<li class="left" style="display: none;">
			            <div class="player_thmbs">
			                <a href="#"><img src="images/player/15.jpg"></a>
			            </div>
			            <!--
			            <div class="player_profile">
			                <p>LEFT</p>
			                <p>No.15</p>
			                <span></span>
			                <p>HWANG MIN KYEONG</p>
			                <p>황민경</p>
			            </div>
			            -->
			        </li>
			        <li class="setter" style="">
			            <div class="player_thmbs">
			                <a href="#"><img src="images/player/3.jpg"></a>
			            </div>
			            <!--
			            <div class="player_profile">
			                <p>SETTER</p>
			                <p>No.3</p>
			                <span></span>
			                <p>KIM DA IN</p>
			                <p>김다인</p>
			            </div>
			            -->
			        </li>
			        <li class="center" style="display: none;">
			            <div class="player_thmbs">
			                <a href="#"><img src="images/player/14.jpg"></a>
			            </div>
			            <!--
			            <div class="player_profile">
			                <p>CENTER</p>
			                <p>No.14</p>
			                <span></span>
			                <p>YANG HYO JIN</p>
			                <p>양효진</p>
			            </div>
			            -->
			        </li>
			        <li class="lebero" style="display: none;">
			            <div class="player_thmbs">
			                <a href="#"><img src="images/player/8.jpg"></a>
			            </div>
			            <!--
			            <div class="player_profile">
			                <p>LIBERO</p>
			                <p>No.8</p>
			                <span></span>
			                <p>KIM YEON KYUN</p>
			                <p>김연견</p>
			            </div>
			            -->
			        </li>
			        <li class="left" style="display: none;">
			            <div class="player_thmbs">
			                <a href="#"><img src="images/player/17.jpg"></a>
			            </div>
			            <!--
			            <div class="player_profile">
			                <p>LEFT</p>
			                <p>No.17</p>
			                <span></span>
			                <p>GO YE RIM</p>
			                <p>고예림</p>
			            </div>
			            -->
			        </li>
			        <li class="right" style="display: none;">
			            <div class="player_thmbs">
			                <a href="#"><img src="images/player/4.jpg"></a>
			            </div>
			            <!--
			            <div class="player_profile">
			                <p>RIGHT</p>
			                <p>No.4</p>
			                <span></span>
			                <p>HWANG YEON JU</p>
			                <p>황연주</p>
			            </div>
			            -->
			        </li>
			    </ul>
			</div>
		</section>
	</div>
</main>
</html>