<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/layout-admin :: layout(~{::head}, ~{::main})}">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
	<script src="/js/my-summernote.js"></script>
	<script src="/js/fileupload.js"></script>
	<link href="/css/admin/goods/write.css" rel="stylesheet">
	
</head>
<main>
	<h1>상품 등록</h1>
	<div class="wrap">
		<section id="goods-reg">
			<h1>상품등록</h1>
			<div class="wrap">
				<p>상품 등록</p>
				<form action="/admin/goods" method="post" enctype="multipart/form-data">
					<ul>
						<li>
							<label>상품명</label>
							<input type="text" name="name" placeholder="상품명">
							
						</li>
						<li>
							<label>판매가격</label>
							<input type="text" name="price" placeholder="판매가격">
						</li>
						<li>
							<label>할인</label>
							<input type="text" name="sale">
							<select name="isRate">
								<option value="0">원</option>
								<option value="1">%</option>
							</select>
						</li>
						<li>
							<label>재고수량</label>
							<input type="text" name="stock" placeholder="재고">
						</li>
						<li>
							<p>상품이미지</p>
							<div>
								<label>대표이미지</label>
								<input type="file" id="defImg"  class="fileInput" name="defImg">
								<label for="defImg">+</label>
								<input type="hidden" name="defImgName">
							</div>
							<div>
								<label>추가이미지</label>
								<span>
									<input type="file" id="addImg" class="fileInput" name="addImg">
									<label for="addImg">+</label>
									<input type="hidden" name="addImgName">
								</span>
							</div>
						</li>
						<li>
							<label>상세설명</label>
							<textarea id="summernote" name="content"></textarea>
						</li>
						
						<li>
							<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" >
							<button type="submit">등록</button>
						</li>
					</ul>
				</form>
			</div>
		</section>
	</div>
</main>
</html>